### Intro to Pandas
see this link for VS Code shortcuts: https://code.visualstudio.com/docs/datascience/jupyter-notebooks#_running-cells

In [ ]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.head()

In [5]:
df.shape

(51, 6)

In [6]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [8]:
df.isna().tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [9]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [10]:
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [11]:
clean_df['Starting Median Salary'].max()

74300.0

In [13]:
# get the index of the max
loc_of_max = clean_df['Starting Median Salary'].idxmax()
clean_df['Starting Median Salary'].loc[loc_of_max]

74300.0

In [14]:
clean_df['Undergraduate Major'].loc[loc_of_max]

'Physician Assistant'

In [16]:
# or use this
clean_df['Undergraduate Major'][loc_of_max]

'Physician Assistant'

In [17]:
# get the whole row
clean_df.loc[loc_of_max]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [18]:
# what major has the highest mid-career salary?
max_mid_loc = clean_df['Mid-Career 90th Percentile Salary'].idxmax()
clean_df['Undergraduate Major'].loc[max_mid_loc]

'Economics'

In [20]:
# Which college major has the lowest staring salary?
min_sal_loc = clean_df['Starting Median Salary'].idxmin()
clean_df['Undergraduate Major'].loc[min_sal_loc]

'Spanish'

In [21]:
# How much do graduates earn after university
clean_df['Starting Median Salary'].loc[min_sal_loc]

34000.0

In [22]:
# Which college major has the lowest mid-career salary?
min_mid_sal = clean_df['Mid-Career 10th Percentile Salary'].idxmin()
clean_df['Undergraduate Major'].loc[min_mid_sal]

'Music'

In [23]:
# how much can people expect to earn with this degree?
clean_df['Mid-Career Median Salary'].loc[min_mid_sal]

55000.0

In [24]:

# The Highest Mid-Career Salary
print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")

107000.0
Index for the max mid career salary: 8

In [25]:
clean_df['Undergraduate Major'][8]

'Chemical Engineering'

In [26]:
# The Lowest Starting and Mid-Career Salary
print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

34000.0

'Spanish'

In [27]:
# access the whole row
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object